@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

title{
    margin: 20px 0;
}

.main{
    border: 8px solid #dddddd;
    border-radius: 24px;
    overflow: hidden;
}
.name{
    display: flex;
    font-weight: 700;
    font-size: 32px;
    padding: 8px 16px;
    color: #7e7e7e;
    background-color: #ebebeb;
}

.name >span{
    color: #bbb;
}


/*----------------------------------------------------------*/
.name-input {
    font-size: 24px;
    font-weight: 700;
    flex-grow: 1;
    margin: 0px 12px;
    outline: none;
    background-color: #ebebeb;
    border: none;
    outline: none;
    background-color: transparent;
    color: transparent; /* Hide the text */
    animation: neon-blink 5s infinite alternate; /* Blink animation */
}

@keyframes neon-blink {
    0% {
        color: #ff00ff; /* Start with pink */
    }
    25% {
        color: #148d8d; /* Change to cyan */
    }
    50% {
        color: #ff00ff; /* Change back to pink */
    }
    75% {
        color: #0b8000; /* Change to cyan */
    }
    100% {
        color: #ff00ff; /* Change back to pink */
    }
}
/*----------------------------------------------------------*/


/*---------------------------------------*/

.message-container {
    display: flex;
    flex-direction: column;
    background-color: #b6d3d1;
    width: 400px;
    height: 600px;
    overflow-y: scroll; 
    overflow-x: hidden;
}


/* Style the scrollbar */
.message-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Track */
.message-container::-webkit-scrollbar-track {
    background: #ececec; /* Color of the scrollbar track */
}

/* Handle */
.message-container::-webkit-scrollbar-thumb {
    background: #7e7e7e; /* Color of the scrollbar handle */
    border-radius: 4px; /* Rounded corners */
}

/*--------------------------------------------------------*/

.message-left,
.message-right{
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 250px;
    font-size: 14px;
    word-wrap: break-word;
}

.message-left{
    border-radius: 20px  20px 20px 0px;
    align-self: flex-start;
    background-color: #25e00da6;
    box-shadow: -2px 2px 4px #dcdcdc;
}

.message-right{
    border-radius: 20px  20px 0px 20px;
    align-self: flex-end;
    background-color: #f421c2af;
    box-shadow: 2px 2px 4px #dcdcdc;
    color: #f6f6f6;
}

.message-left > p > span, 
.message-right > p > span{
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}

.feedback{
    font-style: italic;
    font-size: 14px;
    padding: 0px 16px 16px 16px ;
    color: #2d2d2d;
    text-align: center;
}

.message-form{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.message-input{
    flex-grow: 1;
    height: 48px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 12px;
    background-color: #b3b2b2;
}

.send-button {
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 0px 20px;
    outline: none;
    background-color: #00026be0;
    cursor: pointer;
    border-radius: 20px; /* Adjust the border-radius to give curved edges */
    color: #ffffff;
}


.v-divider{
    height: 48px;
    width: 2px;
    background-color: #d1d1d1;
}

.clients-total{
    margin: 20px 0;
    color: #7e7e7e;
}

form{
    background-color: #d1d1d1;
}